<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button class="btn" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item my-auto">
            <form class="d-none d-sm-inline-block form-inline">
              <div class="input-group">
                <input type="text" class="form-control bg-light border border-2 small" id="searchDesktop" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-light border border-primary text-primary" type="button">
                    Search
                  </button>
                </div>
              </div>
            </form>
          </li>
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" id="searchMobile" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" onclick="searchByKeyword()">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="mr-2 ml-4" style="border-radius: 50%;padding: 5px 12px;background-color: #CFD4ED;">
                <p class="my-auto text-dark fw-bold">S</p>
              </div>
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Sulaiman</span>
            </a>
          </li>
        </ul>
      </nav>