    <div class="container-fluid">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item"><a href="#" class="text-dark fw-bold">Cars</a></li>
          <% if(page == 'Add New Car' || page == 'Update Car Information'){ %>
          <li class="breadcrumb-item"><a href="/" class="text-dark fw-bold">List Cars</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= page %>
          </li>
          <% }else{ %>
          <li class="breadcrumb-item active" aria-current="page">
            List Cars
          </li>
          <% } %>
        </ol>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="text-dark mb-0 font-weight-bold ml-3">
          <%= page %>
        </h5>
        <% if(page != 'Add New Car' && page != 'Update Car Information' ) { %>
        <a href="/add-car" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">+ Add New Car</a>
        <% } %>
      </div>
    </div>
    <% if(page != 'Add New Car' && page != 'Update Car Information' ) { %>
    <div class="mx-5 mb-3">
      <a href="/"
        class="btn btn-sm <%= size != undefined && size == 'all' ? "btn-primary" : "btn-outline-primary" %> mr-3">All</a>
      <a href="/cars/size/small"
        class="btn btn-sm <%= size != undefined && size == "small" ? "btn-primary" : "btn-outline-primary" %> mr-3">Small</a>
      <a href="/cars/size/medium"
        class="btn btn-sm <%= size != undefined && size == "medium" ? "btn-primary" : "btn-outline-primary" %> mr-3">Medium</a>
      <a href="/cars/size/large"
        class="btn btn-sm <%= size != undefined && size == "large" ? "btn-primary" : "btn-outline-primary" %> mr-3">Large</a>
    </div>
    <% }%>