<%- include("components/header.ejs") %>
<%- include("components/navbar.ejs") %>
<%- include("components/topbar.ejs") %>
<div class="container-fluid">
  <div class="container px-5 my-5">
    <div class="col-10">
          <div class="form-group row">
            <label class="form-label col-2" for="name">Nama<span class="text-danger">*</span></label>
            <div class="col-10">
              <input class="form-control" id="name" type="text" required data-sb-validations="required" name="name"
                <% if (method == "PUT" ) { %> value="<%= car.name %>" <% } %> />
              <div class="invalid-feedback" data-sb-feedback="nama:required">Nama* is required.</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-label col-2" for="price">Sewa Per Hari<span class="text-danger">*</span></label>
            <div class="col-10">
              <input class="form-control" id="price" type="number" data-sb-validations="required" required
                name="price" <% if (method == "PUT" ) { %> value="<%= car.price %>" <% } %> />
              <div class="invalid-feedback" data-sb-feedback="sewaPerHari:required">Sewa Per Hari* is
                required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-label col-2" for="size">Ukuran<span class="text-danger">*</span></label>
            <div class="col-10">
              <select class="form-select" id="size" aria-label="Ukuran" name="size" required>
                <% sizes.map((size) => { %>
                <% if(method == "PUT") { %>
                <option value="<%= size %>" <%= size == car.size ?  "selected" : "" %>><%= size %></option>
                <% } else { %>
                <option value="<%= size %>"><%= size %></option>
                <% }}) %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-label col-2" for="image">Foto<span class="text-danger">*</span></label>
            <div class="col-10">
              <input class="form-control" id="image" type="file" placeholder="Foto*" data-sb-validations="required" <%= method == "POST" ? "required" : "" %>
                name="image" />
              <small class="form-text text-muted">File size max. 2MB</small>
              <div class="invalid-feedback" data-sb-feedback="foto:required">Foto* is required.</div>
            </div>
          </div>
          <div class="mt-2">
            <a href="/" type="button" class="btn btn-outline-primary">Cancel</a>
            <button class="btn btn-primary" type="button" onclick=<%= action %> >Save</button>
          </div>
    </div>
  </div>
  <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
  <%- include("components/footer.ejs") %>