<%- include("components/header.ejs") %>
<%- include("components/navbar.ejs") %>
<%- include("components/topbar.ejs") %>
<div class="container-fluid">
  <div class="row">
    <% cars.map(({id, name, price, size, image, updatedAt})=> { %>
    <div class="col-md-4">
      <div class="card p-4 m-2">
        <img src="/uploads/<%= image %>" alt="<%= name %>" height="160px" class="mb-5 rounded">
        <p class="font-weight-bold">
          <%= name %>
        </p>
        <p class="fw-bold text-dark">Rp <%= price.toString().length > 3 ? (price/1000).toFixed(3) : price  %> / hari</p>
        <p><i class="bi bi-clock mr-2"></i>Updated at <%= updatedAt %>
        </p>
        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-danger" type="button" onclick="confirmDelete('<%= id %>')" style="width: 47%;"
            data-target="#deleteModal" data-toggle="modal"><i class="bi bi-trash mr-2"></i>Delete</button>
          <a href="/edit-car/<%= id %>" class="btn btn-success" style="width: 47%;"><i
              class="bi bi-pencil-square mr-2"></i>Edit</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <img src="/images/imgDelete.png" width="200px" alt="cars-1" class="mb-5 rounded">
          <h5>Menghapus Data Mobil</h5>
          <div class="col-10">
            <p class="ml-5">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
          </div>
          <div class="d-flex w-50 mx-auto">
            <button id="confirmBtn" type="button" onclick="deleteCar()" class="btn btn-primary mr-5"
              style="width: 50%;">Ya</button>
            <button type="button" data-dismiss="modal" class="btn btn-outline-primary"
              style="width: 50%;">Tidak</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("components/footer.ejs") %>
